*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.dropdown_menu{
    margin-top: 4px;
    display: flex;
    width: 100%;
    background-color:  #88C1D9;
    justify-content: space-between;
    align-items: end;

}
ul{
    background-color:  #88C1D9;
  list-style: none;
}

.dropdown_menu a{
    padding: 0px 26px;
    background-color:  #88C1D9;
color:#525464;
display: flex;
justify-content: center;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
align-items: center;
text-decoration: none;
height: 37px;
transition: all 0.25s ease;

}
.dropdown_menu li:hover a{
    color: white;
   background-color:#412C14; 

}
.sub_list{
    opacity:0 ;
    position: absolute;
    top: 50px;
    visibility: hidden;
    z-index: 1;
    text-align: left;
}
.sub_list a{
    color: white;
    height: auto;
    text-align: left;
    line-height: 30px;
    border-bottom: 1px solid white;
}
ul:hover .sub_list  {
    opacity: 1;
    top: 40px;
    visibility:visible ;
    display: block;
    width: 200px;
}

ul:hover #sub{
    width: 320px;
}
